.anchor-pane {
    -fx-background-color: #f5f5f5;
}

.mfx-button {
    -fx-font-size: 14px;
    -fx-padding: 10px;
    -fx-border-radius: 5px;
}

.mfx-button:hover {
    -fx-background-color: #e0e0e0;
}

.mfx-list-view {
    -fx-background-color: #FFFFFF;
}

.mfx-list-view > .text {
    -fx-padding: 18px; /* Inner padding for the text content */
}